{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4" style="width: 60vw">
        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <div class="d-flex justify-content-center my-4">
                <div class="image-container">
                    <img src="{% static 'about.JPG' %}" alt="about">
                </div>
            </div>
        </div>
        <div class="container px-0 d-flex justify-content-center">
            <div class="about-container">
                <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                    <p>
                        Metamorphosis — молодое амбициозное бюро, которое не только возводит дома, но и изучает
                        устройство
                        окружающей нас среды и включает анализ города.
                    </p>
                </div>
                <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                    <p>
                        Бюро специализируется на проектировании жилых и общественных зданий, интерьерных решений,
                        создании
                        арт-объектов, регулярно и успешно участвует в архитектурных конкурсах.
                    </p>
                </div>
                <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                    <p>
                        Мы - это группа единомышленников, цель существования которой - постоянное развитие
                        художественного
                        языка, исследование феномена формы и времени посредством архитектурной поэтики. Мы понимаем
                        архитектуру
                        как часть чего-то целого.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
