{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4" style="width: 75vw">
        <div class="d-flex justify-content-center text-center">
            <p class="display-6">
                архитектурное бюро metamorphosis
            </p>
        </div>
        <div class="d-flex justify-content-center my-4">
            <div class="image-container">
                <img src="{% static 'about.JPG' %}" alt="about">
            </div>
        </div>
        <div class="container px-0 d-flex justify-content-center">
            <div class="about-container">
                <p>
                    Metamorphosis — молодое амбициозное бюро, которое не только возводит дома, но и изучает устройство
                    окружающей нас среды и включает анализ города.
                </p>
                <p>
                    Бюро специализируется на проектировании жилых и общественных зданий, интерьерных решений, создании
                    арт-объектов, регулярно и успешно участвует в архитектурных конкурсах.
                </p>
                <p>
                    Мы - это группа единомышленников, цель существования которой - постоянное развитие художественного
                    языка, исследование феномена формы и времени посредством архитектурной поэтики. Мы понимаем
                    архитектуру
                    как часть чего-то целого.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
