{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-between mt-4 mx-5">
        {% for person in people %}
            <div class="col-lg-3 col-sm-6 worker p-5">
                <div class="worker-overlay">
                    <div class="worker-img">
                        <img src="{{ person.photo.url }}"
                             alt="{{ person.first_name }} {% if person.last_name %}person.last_name{% endif %}">
                    </div>
                    <div class="worker-info pt-2">
                        <h5 class="pb-1">{{ person.first_name }}
                            {% if person.last_name %}{{ person.last_name }}{% endif %}</h5>
                        <p>{{ person.position }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
