{% extends 'base.html' %}

{% block content %}

    <div>
        <div class="project-grid">
            {% for project in projects %}
                <a href="{% url 'project_detail' project.id %}" class="project-card">
                    <div class="project-main-image">
                        <img src="{{ project.photos.first.image.url }}" alt="{{ project.title }}">
                    </div>
                    <div class="project-content justify-content-center">
                        <p class="project-title">{{ project.title }}</p>
                        <p class="project-description">{{ project.small_description }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
