{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="mx-3 row d-flex justify-content-center">
        <div class="project-detail-content-column">
            <div id="carouselExample" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    {% for photo in project_photos %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{{ photo.image.url }}" target="_blank">
                                <img src="{{ photo.image.url }}" class="d-block"
                                     alt="{{ photo.description }}"
                                     style="image-resolution: from-image; width: 776px; height: 600px; object-fit: contain; overflow: hidden; object-position: center">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="d-grid justify-content-center my-5 pb-0">
                <div class="container d-flex justify-content-center">
                    <!-- Изменение размера заголовка в зависимости от экрана -->
                    <p class="font-weight-bold display-5 d-none d-md-block"
                       style="text-transform: capitalize">{{ project.title }}</p>
                    <p class="font-weight-bold h3 d-block d-md-none"
                       style="text-transform: capitalize">{{ project.title }}</p>
                </div>
                <div class="project-detail-statistics" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="500">
                    <h5><span>Место:</span> {{ project.location }}
                    </h5>
                    <h5><span>Площадь участка:</span> {{ project.space }}</h5>
                    <h5><span>Общая площадь:</span> {{ project.full_space }}</h5>
                    <h5><span>Заказчик:</span> {{ project.client }}
                    </h5>
                    <h5><span>Годы:</span> {{ project.years }}</h5>
                    <h5><span>Статус:</span> {{ project.status }}
                    </h5>
                    <h5><span>Команда:</span> {{ project.team }}
                    </h5>
                </div>
                <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="500">
                    <h5 class="project-detail-description">{{ project.description | safe }}</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
