{% extends 'base.html' %}

{% block title %}Metamorphosis{% endblock %}

{% block content %}

    <div class="container">

        <div class="row mt-4">
            {% for project in projects %}
                <div class="col-md-4">
                    <div class="mb-4">
                        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                            <div class="project-block">
                                <a href="{% url 'project_detail' project.id %}">
                                    <div class="project-image">
                                        <img src="{{ project.photos.first.image.url }}" class="card-img-top blur-image"
                                             alt="{{ project.title }}">
                                    </div>
                                    <div class="card-body project-content">
                                        <p class="project-text">{{ project.title }}</p>
                                        <p class="project-text">{{ project.description }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
